<div class="container" id="header">
    <div class="row justify-content-center">
        <div class="col-md-5 p-4">
            <div class="card h-100 d-flex justify-content-center">
                <div class="card-body text-center">
                    <h1>{{ name }}</h1>
                    <h2>{{ jobTitle }}</h2>
                    <p><strong>Email: </strong> <a href="mailto: shashank1742002@gmail.com">{{email}}</a></p>
                    <p><strong>Phone: </strong> <a href="tel: 6205690133">{{phone}}</a></p>
                    <p><strong>Home Address: </strong> {{address}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5">
            <div class="card-img d-flex">
                <div class="card-body-img d-flex">
                    <img src="../../assets/image.png" class="img-fluid" alt="User Photo" />
                </div>
            </div>
        </div>
    </div>
</div>