body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a:hover {
  background-color: black;
  padding: 10px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px;
  border-radius: 2px;
}

.download-pdf-container {
  position: absolute;
  left: 11rem;
  top: 0;
  bottom: 0;
  padding: 7px;

}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: static;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }


}