/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
} 

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.container {
    margin: 0 auto;
} 

h1 {
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 1px;
    outline: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
}